body {
  background-color: #f4f6ff;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}

h1 {
  color: #00a8cc

}

h3{
  color: #00a8cc
}
